/* whole website */


/* header */
.headerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: blue;
}

.headerList {
  list-style-type: none;
}

/* body */
.bodyMain {
  background-color: black;
}

#intro {
  color: white;
}