/* whole website */
:root {
  --primary-color: lightblue;
  --secondary-color: darkblue;
}

/* header */
.headerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  align-items: center;
  border: 15px;
  border-color: var(--secondary-color);
  border-bottom: 10px;
}

.headerList {
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* body */
.bodyMain {
  background-color: lightblue;
}

#intro {
  color: black;
  border-color: var(--secondary-color);
}

/* footer */
.footerMain {
  background-color: lightblue;
  padding: 1%;
}